<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.45">
    <!-- initial-scale=1 로하면 모바일서 짤리더라 -->
    <!-- 아이패드는 좌우여백은 안보이고 컨텐츠있는곳만 보여
    알아서 컨텐츠로만 잡아주는 뭐가 있나?
    갤럭시는 그대로 좌우여백도 보여-->
    <title>Document</title>
    <style>
        body{
            margin:0;
        }
        .container2{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            min-width: 850px;
        }
        .flex{
            display: flex;
            justify-content: center;
        }
        .container {
            display: grid;
            display: -ms-grid;
            -ms-grid-columns: 100px repeat(4, 1fr) 100px;
            -ms-grid-rows:150px repeat(5, minmax(180px, auto));
            grid-template-columns: repeat(4, 200px);
            grid-template-rows: minmax(180px, auto) repeat(4, minmax(180px, auto));
            gap: 15px 15px;
        }
        subhead{
            display: flex;
            justify-content: center;
            height:50px;
            background-color:#202d4e;
            box-shadow:0 3px 7px 0 rgb(0 0 0 / 25%);
            color:rgb;
            position: relative;
        }
        .time{
            color:rgba(255, 255, 255, 0.904);
            margin: 7px;
            font-weight: 400;
        }
        .logout{
            position:absolute;
            left:80%;
            color:rgba(255, 255, 255, 0.904);
            margin:12.5px;
            font-weight: 400;
        }
        header {
            grid-column: 1/5;
            grid-row:1/1;

        }
        .blank { 
            grid-row:2/7;
            grid-column:1/1;
            border-left:2px groove rgba(179, 2, 2, 0.2);
            display: flex;
            align-items:center;
        }
        .blank2{
            grid-column: 4/4;
            grid-row: 1/7;
            border-right:2px groove rgba(179, 2, 2, 0.2);
            display:flex;
            align-items:center;
            justify-content: flex-end;
        }
        default{
            box-shadow:2px 3px 4px 0 rgb(0 0 0 / 20%);
            border-radius:10px 100px / 120px;
            border:2px solid burlywood;
            grid-column: 2/4;
            grid-row: 2/4;
            display:flex;
            justify-content:center;
            align-items: center;
            flex-direction:column;
        }
        .left{
            margin:0;
            writing-mode: vertical-rl;
            /* vertical-lr 
            transform: rotate(180deg);
            text-align: center;*/
            background-color: white;
            height:auto;
        }
        .left2{
            writing-mode: vertical-rl;
            background-color: white;
            height:auto;
            margin:0;
        }
        .item-1{
            font-size:16pt;
            line-height: 7px;
            padding-left: 7px;
            margin:5px;
            /* vertical-align:top; block요소에서 적용 안됨*/
        }
        input[type="text"]{
            line-height: normal;
            padding: .8em .5em;
            width: 79%;
            border:0.2em solid burlywood;
        }
        input.hi{
            line-height: normal;
            padding: .8em .5em;
            width: 80%;
            height: 8%;
            border:0.1em solid burlywood;
            margin: 0.5em;
        }

        textarea{
            padding: .6em .5em;
            width:80%;
            resize:vertical;
            border:0.2em solid burlywood;
        }
        .detail{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap:0.3em;
        }
        form{
            display:contents;
        }
        #homebox{
            display:contents;
        }
        #homebox a:link{
            color: #a600d8dc;
        }
        #homebox a:visited {
            color: #a600d8dc; 
        }
        #homebox > .teamajax{
            border:none;
            cursor: pointer;
            text-decoration: underline;

            font-size: 1.0em;
            color: #a600d8dc;
        }
    </style>
    <script defer src="./clock2.js"></script>
    <!-- src 경로는 public 기준으로 시작 -->
    <link rel="stylesheet" type="text/css" href="./buttonstyle.css"/>
    <script defer src="./button.js"></script>
</head>
<body>
    <div class="container2">
        <subhead>
            <h2 class="time">Time loading</h2>
            <%if(data){ %>
                <a href="/logout">
                    <h3 href='/logout_process' class='logout'>logout</h3>
                </a>
            <%} %>
        </subhead>
    </div>
    <div class="flex">
        <div class="container">
            <header>
                <p>Title >>> 
                    <input type="text" name="title" placeholder="로그인 후 이용해주세요!">
                </p>
                <p class="detail">
                    <tb>Detail >></tb>
                    <textarea name="detail" rows="5"
                    placeholder="로그인 후 이용해주세요!"></textarea>
                </p>
            </header>
            <default>
                <% if(!data){ %>
                    <%if(data2=='Missing credentials'){ %>
                        아이디와 비밀번호를 입력하세요.
                    <%}else if(data3){ %>
                        회원가입이 완료되었습니다! 로그인이가능합니다.
                    <%}else{ %>
                    <%= data2%>
                    <%} %>
                    <form action='/login_process' method='POST'>
                        <input class='hi' type="text" name="user_id" placeholder="아이디를 입력해주세요.">
                        <input class='hi' type="text" name="user_password" placeholder="비밀번호를 입력해주세요.">
                        <div class="wrapper">
                            <button type="submit" class="first">
                                <span>login</span>
                                <div class="success">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
                                        
                                    <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z"/>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </form>
                    <form action="/signup">
                        <div class="wrapper2">
                            <button type="submit" class="second">
                                <span>sign up</span>
                                <div class="success">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
                                        
                                    <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z"/>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </form>
                <%}else{ %>
                    <div id="homebox">
                        <h2>로그인 되었습니다.</h2>
                        <a href=/form>move to plan</a>
                        <br>
                        <a href=/maketeam>make team</a>
                        <br>
                        <button class="teamajax" onclick="toteam()">move to teamplan</button>
                    </div>               
                <%} %>
            </default>
            <aside class="blank">
                <h2 class="left"></h2>
            </aside>
            <aside class="blank2">
                <h2 class="left2"></h2>
            </aside>
        </div>
    </div>
    <script>
        function toteam(){
            const attach = document.getElementById('homebox');

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/moveteam', true);
            xhr.send();

            xhr.onreadystatechange = function(){
                if(xhr.readyState==4 && xhr.status==200){
                    attach.innerHTML = `
                    <h3>팀plan 비밀번호를 입력하세요.</h3>
                        <form action="/teamform1" method='POST'>
                            <input type="text" name="teampass">
                            <br>
                            <div class="wrapper">
                                <button type="submit" class="first">
                                    <span>입장</span>
                                    <div class="success">
                                        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
                                            
                                        <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z"/>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </form>
                        `;
                }
            }
        }
    </script>
</body>
</html>